<!DOCTYPE html>
<html>
<head>
    <title>URL Phishing Detector</title>
    <!-- Link external CSS file in Flask static folder -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="backgroundStyle">
    <header class="navbarStyle">
        <p>Home</p>
    </header>
    <div class="mainBodyStyle">
        <h1 class="bodyText">URL Phishing Detector</h1>
            <h2 class="bodyText">Model Results</h2>
            <pre class="bodyText">Accuracy Score: {{accuracy}}</pre>
            <pre class="bodyText">Training Time: {{training_time}} seconds</pre>
            <pre class="bodyText">Entered URL: {{url}}</pre>
            <pre class="resultText">Prediction Result: {{prediction}}</pre>
                <h2 class="bodyText">Classification Report</h2>
                <pre class="classReport">{{class_report}}</pre>
        <h2 class="bodyText">Enter a URL to Check</h2>
        <form class="formStyle" method="POST" action="/predict">
            <input class="inputStyle" type="text" name="url_input" placeholder="Enter URL starting with http://" required>
            <button class="buttonStyle" type="submit">Submit URL</button>
        </form>
    </div>
</body>
</html>